/deep/ .line {
  // stroke: $primary-color;
  stroke-width: 1.5;
  fill: none;
}

/* Style the dots by assigning a fill and stroke */
/deep/ .dot {
    stroke: #fff;
}

/deep/ .tooltip {	
    position: absolute;			
    text-align: center;			
    width: 8rem;					
    height: 3.5rem;					
    padding: 0.5rem;				
    font-size:1.4rem;
    border-radius:8px;
    pointer-events: none;			
    border: 1px solid rgba(1,1,1,0.05);
    background:#fff;
}
