@import '../../../../../styles/base.scss';
.panel-style {
  padding: 1rem;
  @extend .panel-base;
}

.section-header {
  @extend .section-header;
  opacity: 0.8;
  font-size: 2.7em;
  letter-spacing: 2px;
}

:host {
  display: flex;
  flex-direction: column;
  background: #fff;
  @extend .panel-style;
  flex: 1;
}

/deep/ .spending-bar {
  fill: #95a5a6;
}

/deep/ .spending-bar:hover {
  fill: #7f8c8d;
}
