@import '../../../../../styles/base.scss';
.form-group.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  div {
    display: flex;
    align-items: center;
  }
  input {
    margin-right: 1rem;
  }
}

.completer-limit /deep/ .completer-dropdown {
  overflow-y: auto;
  max-height: 30rem;
}
