<div class="next-content flex flex-center">
    <i class="fa fa-angle-down"></i>
</div>
<div class="title flex flex-center">
    <h2>About</h2>
    <p>It's easy to spend money but it's hard to keep track of where it all goes. While there are other money management services
        out there, I wanted complete control of my finances and to answer atypical questions such as "Which grocery store
        has the cheapest olive oil?" Below is a tour of what I've put together:
    </p>
</div>
<div class='item'>
    <div class="image-content">
        <img class="item-image" src="/assets/about/expenses.png">
    </div>
    <div class="item-description">
        <h3>Expenses</h3>
        <span>Any budget must start with answering the question, "Is my spending in the budget?" See how much you are spending
            by category, filter by month, and figure out if you are over or under budget.</span>
    </div>
</div>

<div class='item'>
    <div class="item-description">
        <h3>Groceries</h3>
        <span>View your grocery purchases and compare them by store.</span>
    </div>
    <div class="image-content">
        <img class="item-image" src="/assets/about/food_products.png">
        <span class="item-image-subtext">Is organic broccolli worth twice as much? Some questions don't have an easy answer.</span>
    </div>
</div>

<div class='item'>
    <div class="image-content">
        <img class="item-image" src="/assets/about/grocery_cart.png">
    </div>
    <div class="item-description">
        <h3>Data Management</h3>
        <span>Use the grocery cart to upload weekly grocery purchases and categorize where they were bought them and whether they
            are organic or seasonal.</span>
    </div>
</div>

<div class='item'>
    <div class="item-description">
        <h3>Data Views</h3>
        <span>Search and filter your transactions or look at graphs to compare your spending over the years.</span>
    </div>
    <div class="image-content">
        <img class="item-image" src="/assets/about/transactions.png">
    </div>
</div>

<div class='item vertical'>
    <div class="item-description" style="margin-bottom:2rem;">
        <h3>And more...</h3>
        <span>Stop in and see what you've been reading, or look wistfully at that time you read the Wheel of Time and wishing you
            could do it over again.</span>
    </div>
    <div class=" image-content ">
        <img class="item-image " src="/assets/about/books.png ">
    </div>
</div>